/*
- [ ] UI/UX considerations (how are we going to use this)

nice contrasting color pallet
a form that doenst look like its from a circa 2001 webpage


advanced content
state changing styling
*/

/*
	FLEXBOX CONTAINER
	guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
/*https://ih1.redbubble.net/image.450886543.0130/raf,750x1000,075,t,fafafa:ca443f4786.jpg*/




body{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("https://ih0.redbubble.net/image.450886651.0130/flat,550x550,075,f.u2.jpg");
  background-size:50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: start;
  color: black;
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 12px
}

h1 {
	display: flex;
	justify-content: space-around;

}

h2 {
  display:inline-flex;
  font-size: 30px
}


button {
	display: flex;
	justify-content: center;
	border: none;
	background: pink;
	color: black;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-weight: 100;
	font-size: 18px;
	padding: 10px;
	border-radius: 20px;
	display: inline;
	border: none;
}

#start {
  margin:10px;
}